<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso de acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".util.MiApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wawakusi">

        <!-- SplashActivity como la actividad principal -->
        <activity
            android:name=".view.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- El resto de las actividades -->
        <activity
            android:name=".view.ui.RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.TiendaActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.PromocionesActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.NosotrosActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.ContactoActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.PerfilActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminPanelActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminProductosActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminPromocionesActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminUsuariosRolesActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.DetalleProductoActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.CarritoActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.MisPedidosActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminPedidosActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.AdminReportesActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.PaypalReturnActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="wawakusi"
                    android:host="paypal"
                    android:pathPrefix="/success" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="wawakusi"
                    android:host="paypal"
                    android:pathPrefix="/cancel" />
            </intent-filter>
        </activity>

        <!-- MainActivity ahora no es la principal, pero aún se puede acceder -->
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>
